body {
    font-family: 'poppins', sans-serif;
    background-color: aqua;
    transition: 0.5%;
}

body.dark-mode {
    background-color: black;
}

.login-box {
    background: rgb(72, 78, 78);
    box-shadow: 0 8px 0 rgba(100, 103, 112, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 30px;
    border: 1px solid rgba(100, 103, 112, 0.37);
    width: 25%;
    margin: auto;
    margin-top: 10%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: 0.5%;
}

@media only screen and (max-width: 768px) {
    .login-box {
        width: 75%;
    }
}

@media only screen and (max-width: 1366px) {
    .login-box {
        width: 40%;
    }
}

.login-box h1 {
    text-align: center;
    color: rgb(22, 22, 22);
    transition: 0.5%;
}

.login-box h1.dark-mode {
    color: white;
}

.theme {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

input {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: 0.5%;
}

input.dark-mode {
    background-color: rgb(65, 65, 65);
    color: white;
}

input:focus {
    outline: none;
}

form button {
    width: 40%;
    border: none;
    background-color: aqua;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.5%;
}

form button.dark-mode {
    background-color: blueviolet;
}

form button:hover {
    cursor: pointer;
    background-color: aquamarine;   
}

form button.dark-mode:hover {
    background-color: blueviolet;
}

